In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Placement.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [5]:
# Quan = ["ssc_p","hsc_p","degree_p","etest_p","mba_p","salary"]

# Quan

In [6]:
# Qual = ["gender","ssc_b","hsc_b","hsc_s","degree_t","workex","specialisation","status"]

# Qual

In [7]:
dataset.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [8]:
dataset["gender"].dtype # displays the datatype of that particular column

dtype('O')

In [9]:
dataset["etest_p"].dtype

dtype('float64')

In [10]:
# goal is to create create 'quan'/'qual' list with respective columns automatically

In [11]:
quan = []
qual = []
for columnName in dataset.columns:
    if(dataset[columnName].dtype == 'O'):
        qual.append(columnName)
    else:
        quan.append(columnName)

In [12]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [13]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

# Central Tendency

In [14]:
dataset['ssc_p'].mean()

67.30339534883721

In [15]:
dataset['ssc_p'].mode()

0    62.0
Name: ssc_p, dtype: float64

In [16]:
dataset['ssc_p'].mode()[0]

62.0

In [17]:
dataset['ssc_p'].median()

67.0

In [18]:
Descriptive = pd.DataFrame() # creates an empty table

In [19]:
Descriptive

Empty DataFrame
Columns: []
Index: []

In [20]:
Descriptive = pd.DataFrame(index=["Mean","Median","Mode"], columns = quan)

In [21]:
Descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
Median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
Mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [22]:
# to access the the location use  [Column][Row]

In [23]:
Descriptive['hsc_p']['Mean'] = 20

In [24]:
Descriptive['hsc_p']['Mean']

20

In [25]:
 # fills the created table with the mean , median and mode data 

for name in quan: 
    Descriptive[name]['Mean']    = dataset[name].mean()
    Descriptive[name]['Median']  = dataset[name].median()
    Descriptive[name]['Mode']    = dataset[name].mode()[0]

In [26]:
Descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

# Percentile

In [27]:
import numpy as np

In [28]:
np.percentile(dataset["ssc_p"],50)    # finding 50th percentile for "ssc_p" column

67.0

In [29]:
Descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0

In [30]:
# goal is to fill the 'Descriptive' table with percentile data

In [31]:
dataset.describe() # it will take care of the 'nan' values wihlie calculating percentile

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [32]:
Descriptive = pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%"], columns = quan)

In [33]:
Descriptive

        sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean      NaN   NaN   NaN      NaN     NaN   NaN    NaN
Median    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Mode      NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q1:25%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q2:50%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q3:75%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
99%       NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q4:100%   NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [34]:
for name in quan: 
    Descriptive[name]['Mean']     = dataset[name].mean()
    Descriptive[name]['Median']   = dataset[name].median()
    Descriptive[name]['Mode']     = dataset[name].mode()[0]
    Descriptive[name]['Q1:25%']   = dataset.describe()[name]['25%']
    Descriptive[name]['Q2:50%']   = dataset.describe()[name]['50%']
    Descriptive[name]['Q3:75%']   = dataset.describe()[name]['75%']
    Descriptive[name]['99%']      = np.percentile(dataset[name],99)
    Descriptive[name]['Q4:100%']  = dataset.describe()[name]['max']

In [35]:
Descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0

# Inter Quartile Range

In [36]:
Descriptive = pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%", "IQR", "1.5Rule", "Lesser", "Greater", "Min", "Max"], columns = quan)

In [37]:
Descriptive

        sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean      NaN   NaN   NaN      NaN     NaN   NaN    NaN
Median    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Mode      NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q1:25%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q2:50%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q3:75%    NaN   NaN   NaN      NaN     NaN   NaN    NaN
99%       NaN   NaN   NaN      NaN     NaN   NaN    NaN
Q4:100%   NaN   NaN   NaN      NaN     NaN   NaN    NaN
IQR       NaN   NaN   NaN      NaN     NaN   NaN    NaN
1.5Rule   NaN   NaN   NaN      NaN     NaN   NaN    NaN
Lesser    NaN   NaN   NaN      NaN     NaN   NaN    NaN
Greater   NaN   NaN   NaN      NaN     NaN   NaN    NaN
Min       NaN   NaN   NaN      NaN     NaN   NaN    NaN
Max       NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [38]:
for name in quan: 
    Descriptive[name]['Mean']     = dataset[name].mean()
    Descriptive[name]['Median']   = dataset[name].median()
    Descriptive[name]['Mode']     = dataset[name].mode()[0]
    Descriptive[name]['Q1:25%']   = dataset.describe()[name]['25%']
    Descriptive[name]['Q2:50%']   = dataset.describe()[name]['50%']
    Descriptive[name]['Q3:75%']   = dataset.describe()[name]['75%']
    Descriptive[name]['99%']      = np.percentile(dataset[name],99)
    Descriptive[name]['Q4:100%']  = dataset.describe()[name]['max']
    Descriptive[name]['IQR']      = Descriptive[name]['Q3:75%'] - Descriptive[name]['Q1:25%']
    Descriptive[name]['1.5Rule']  = 1.5 * Descriptive[name]['IQR']
    Descriptive[name]['Lesser']   = Descriptive[name]['Q1:25%'] - Descriptive[name]['1.5Rule']
    Descriptive[name]['Greater']  = Descriptive[name]['Q3:75%'] + Descriptive[name]['1.5Rule']
    Descriptive[name]['Min']      = dataset[name].min()
    Descriptive[name]['Max']      = dataset[name].max()

In [39]:
Descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,37.0,50.0,50.0,51.21,200000.0
Max,215,89.4,97.7,91.0,98.0,77.89,940000.0

In [40]:
Descriptive['hsc_p']['Lesser']>Descriptive['hsc_p']['Min']

True

In [47]:
lesser =[]
greater=[]

for Name in quan:
    if (Descriptive[Name]['Lesser']>Descriptive[Name]['Min']):
        lesser.append(Name)
    if (Descriptive[Name]['Greater']<Descriptive[Name]['Max']):
        greater.append(Name)

In [48]:
lesser      # gives the column having lesser range outliers

['hsc_p']

In [49]:
greater     # gives the columns have Greater range outliers

['hsc_p', 'degree_p', 'salary']

In [56]:
for N in lesser:
    dataset[N][dataset[N]<Descriptive[N]['Lesser']] = Descriptive[N]["Lesser"]

for N in greater:
    dataset[N][dataset[N]>Descriptive[N]['Greater']] = Descriptive[N]["Greater"]

C:\Users\Jayaprakash T\AppData\Local\Temp\ipykernel_10928\681919002.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[N][dataset[N]>Descriptive[N]['Greater']] = Descriptive[N]["Greater"]
C:\Users\Jayaprakash T\AppData\Local\Temp\ipykernel_10928\681919002.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[N][dataset[N]>Descriptive[N]['Greater']] = Descriptive[N]["Greater"]
C:\Users\Jayaprakash T\AppData\Local\Temp\ipykernel_10928\681919002.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[N][dataset[N]>Descriptive[N]['Greater']] = Descriptive[N]["Greater"]

In [62]:
# reexecution to check if the ouliers are replaced

In [57]:
Descriptive = pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","99%","Q4:100%", "IQR", "1.5Rule", "Lesser", "Greater", "Min", "Max"], columns = quan)

In [58]:
for name in quan: 
    Descriptive[name]['Mean']     = dataset[name].mean()
    Descriptive[name]['Median']   = dataset[name].median()
    Descriptive[name]['Mode']     = dataset[name].mode()[0]
    Descriptive[name]['Q1:25%']   = dataset.describe()[name]['25%']
    Descriptive[name]['Q2:50%']   = dataset.describe()[name]['50%']
    Descriptive[name]['Q3:75%']   = dataset.describe()[name]['75%']
    Descriptive[name]['99%']      = np.percentile(dataset[name],99)
    Descriptive[name]['Q4:100%']  = dataset.describe()[name]['max']
    Descriptive[name]['IQR']      = Descriptive[name]['Q3:75%'] - Descriptive[name]['Q1:25%']
    Descriptive[name]['1.5Rule']  = 1.5 * Descriptive[name]['IQR']
    Descriptive[name]['Lesser']   = Descriptive[name]['Q1:25%'] - Descriptive[name]['1.5Rule']
    Descriptive[name]['Greater']  = Descriptive[name]['Q3:75%'] + Descriptive[name]['1.5Rule']
    Descriptive[name]['Min']      = dataset[name].min()
    Descriptive[name]['Max']      = dataset[name].max()

In [59]:
lesser =[]
greater=[]

for Name in quan:
    if (Descriptive[Name]['Lesser']>Descriptive[Name]['Min']):
        lesser.append(Name)
    if (Descriptive[Name]['Greater']<Descriptive[Name]['Max']):
        greater.append(Name)

In [60]:
lesser

[]

In [61]:
greater

[]